pip==22.0.4
matplotlib==3.6.3
matplotlib-inline==0.1.6
multipledispatch==0.6.0
numpy==1.23.5
pandas==1.5.2
Pillow==9.4.0
pyhere==1.0.0
scikit-learn==1.2.0
shap==0.41.0
streamlit==1.16.0
MAPIE==0.6.4
ipython==7.34.0
